# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
*.log
bin/
obj/

# .NET Core Precompiled Web-Publish folder
publish/
.vscode/

# Doesn't include Database files
*.csv

# Common node modules locations
/node_modules
/wwwroot/node_modules



# End of https://www.toptal.com/developers/gitignore/api/dotnetcore